header {
    color: gold;
    background-color: black;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
}

main {
    flex-grow: 1;
    background-image: url('nice.jpg') ;
    background-size: contain;
}

button {
    background-color: gold;
    color: black;
    /* text-shadow: 2px 2px black; */
}

.card {
    background-color: black;
}

.card-img-top {
    background-color: black;
}

.test {
    color: gold;
    text-shadow: 5px 5px black;
}


footer {
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    color: gold;
    background-color: black;
}